@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hentaigana:wght@200..900&family=Playwrite+AU+SA&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:rgb(15, 167, 111);
}

h2{
    font-size: 46px;
    line-height: 54px;
    
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 16px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #464646;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 12px;
    font-weight: 600;
    padding: 15px 20px;
    color: black;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

.button-bn{
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

body{
    width: 100%;
}



/* Header */

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 80px;
background: rgb(255, 255, 255);
box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

#header a{
 padding: 5px 0px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 10px 20px;
}

#navbar li a{
    color: #1a1a1a;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease;  
}

#navbar li a:hover{
    color: rgb(15, 167, 111);
}

#navbar li a i{
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 200;
}

#mobile{
    display: none;
    align-items: center;
}


/* Home */

#hero{
    background-image: url(img/banner/white-still-life-composition.jpg);
    height: 100vh;
    width: 100%;
    padding: 0 80px;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    object-fit: fill;
}


#hero h4{
    font-size: 64px;
    color: black;
    padding-bottom: 15px;
}

#hero h1{
    font-size: 44px;
    color: rgb(15, 167, 111);
}
#hero h2{
    margin-bottom: 10px;
    font-size: 44px;
}

#hero button{
    height: 50px;
    width: 120px;
    background-color: rgb(15, 167, 111);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}


/* Feature */

#feature{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px ;
}

#feature .fe-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 350px;
    height: 300px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

#feature .fe-box:hover{
    height: 400px;
}

#feature .fe-box .img-bx{
    position: absolute;
    width: 300px;
    top: 20px;
    height: 220px;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.5s;
}

#feature .fe-box:hover .img-bx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

#feature .fe-box .img-bx img{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#feature .fe-box .content{
    position: absolute;
    top: 250px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    transition: 0.5s ease;
}

#feature .fe-box:hover .content{
    top: 125px;
    height: 250px;
}

#feature .fe-box .content a{
    display: flex;
    height: 40px;
    width: 120px;
    margin: 0px 0px 0px 80px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgb(15, 167, 111);
}

/* Product */

#product{
    text-align: center;
    
}

#product .product-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
}

#product .pro{
    width: 23%;
    min-width: 230px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease-in;

}

#product .pro:hover{
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.06);
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro .des{
text-align: start;
padding: 10px 0;
}

#product .pro .des span{
    color: #464646;
    font-size: 12px;
}

#product .pro .des h5{
    padding-top: 7px;
    color: #464646;
    font-size: 14px;
}

#product .pro .des i{
    font-size: 18px;
    color: rgb(255, 182, 36);
}

#product .pro .des .cart-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product .pro .des .cart-p a{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 9px;
    background-color: #bdfcf8;
}

#product .pro .des .cart-p i{
    color: rgb(15, 167, 111);
    padding-left: 0px;
    font-size: 18px;
}

/* Banner */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
} 

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 34px;
    padding: 10px 0;
} 

#banner h2 span{
    color: rgb(208, 39, 39);
}

#banner button{
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    outline: none;
}

#banner button:hover{
    background-color: rgb(15, 167, 111);
    color: white;
}


/* Ad-Banner */

#ad-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#ad-banner .banner-box{
    background-image: url(img/banner/b17.jpg);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    min-width: 650px;
    height: 40vh;
    background-size: cover;
}

#ad-banner .banner-box-1{
    background-image: url(img/banner/b10.jpg);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    min-width: 650px;
    height: 40vh;
    background-size: cover;
}

#ad-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#ad-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#ad-banner span{
    color: white;
    font-size: 14px;
    padding-bottom: 15px;
    font-weight: 500;
}



#ad-banner .button-bn:hover{
    border-color: rgb(15, 167, 111);
    background-color: rgb(15, 167, 111);
}

/* Ad-Banner-2 */

#ad-banner-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 80px;
}

#ad-banner-2 .ad-banner-box{
    display: flex;
    border-radius: 10px;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    padding: 20px;
    margin-bottom: 20px;
    min-width: 32%;
    height: 34vh;
    background-size: cover;
}

#ad-banner-2 .ad-banner-box-2{
background-image: url(img/banner/b4.jpg);
}
#ad-banner-2 .ad-banner-box-3{
background-image: url(img/banner/b18.jpg);
}
#ad-banner-2 h2{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 26px;
}
#ad-banner-2 h3{
    color: rgb(180, 3, 3);
    font-weight: 800;
    font-size: 15px;
}


/* News Letter */

#news-letter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #0a4158;
}

#news-letter h4{
    font-size: 22px;
    color: white;
    font-weight: 700px;
}

#news-letter p{
    font-size: 14px;
    font-weight: 500px;
    color: #818ea7;
}

#news-letter p span{
    color: rgb(201, 161, 0);
}

#news-letter .form{
    display: flex;
    width: 40%;
}

#news-letter input{
    height: 3.125rem;
    padding: 0 1.25em;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#news-letter button{
    background-color: rgb(15, 167, 111);
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .f-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer .log{
    margin-bottom: 30px;
}

footer h4{
    font-size: 18px;
    padding-bottom: 20px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    color: #464646;
    padding-bottom: 10px;
}

footer .follows{
margin-top: 20px;
}

footer .follows i{
    padding-right: 0px;
    border-radius: 6px;
    color: #464646;
    cursor: pointer;
    font-size: 32px;
} 

footer .f-col-install .Payment-img img{
    border: 1px solid rgb(15, 167, 111);
    border-radius: 6px;
}

footer .f-col-install img{
    margin: 10px 0 15px 0;
}

footer .f-col-install i:hover,
footer a:hover{
    color: rgb(15, 167, 111);
}

footer .copy-right{
    width: 100%;
    text-align: center;
}


/* Responsivenes */

@media (max-width:799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -330px;
        height: 100vh;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
        padding: 80px 0px 0px 10px;
        transition: 0.3s;
    }

    #navbar .active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
}


/* #RESPONSIVE */

/* Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
    #header {
        
        padding: 0 40px;
    }
    
    #hero {
        padding: 0 40px;
    }

    #feature {
        gap: 50px;
        padding: 50px 20px;
    }
    
    #product .product-container {
        justify-content: center;
    }
    
    #product .pro {
        width: 45%;
    }
    
    #ad-banner .banner-box,
    #ad-banner .banner-box-1 {
        min-width: 100%;
        height: 40vh;
    }
    
    #ad-banner-2 {
        padding: 0px 20px;
    }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    #header {
        padding: 0 20px;
    }
    
    #navbar {
        width: 250px;
    }
    
    #hero {
        padding: 0 20px;
        text-align: center;
        align-items: center;
    }

    .hero{
        height: 40vh;
    width: 100%;
    }
    
    #hero h1, #hero h2, #hero h4 {
        font-size: 32px;
    }
    
    #feature {
        gap: 30px;
        padding: 50px 10px;
    }
    
    #product .pro {
        width: 100%;
    }
    
    #ad-banner-2 .ad-banner-box {
        min-width: 100%;
        height: 25vh;
    }
    
    #news-letter .form {
        width: 100%;
    }
}

/* Small Mobile (max-width: 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p {
        font-size: 14px;
    }
    
    #hero h1, #hero h2, #hero h4 {
        font-size: 24px;
    }
    
    #hero button {
        width: 100px;
        font-size: 14px;
    }
    .section-p1 {
        padding: 20px 20px;
    }
    

    #ad-banner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .button-bn{
        padding: 8px 10px;
    }

    #feature {
        flex-direction: column;
        align-items: center;
    }
    
    #product .pro {
        width: 100%;
    }
    
    #ad-banner .banner-box,
    #ad-banner .banner-box-1 {
        height: 25vh;
    }
    
    footer {
        flex-direction: column;
    }

}
